/target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
/logs/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### Gan ###
/gan/
/logs/
/generate/
/package
/public/h265/
/public/file/
/assets/platform/linux/nginx/logs/*
/assets/platform/windows/nginx-rtmp/logs/*

### tl ###
push.sh
